* {
  margin: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
body {
  margin-right: 20%;
  margin-left: 10%;
}
h1 {
  background-color: tomato;
  padding: 10px 5px 20px 10px;
  border: 1px solid black;
  text-align: center;
  margin-bottom: 10px;
}
.center {
  text-align: justify;
  font-size: 20px;
  border: none;
  margin-top: 10px;
}
p {
  letter-spacing: 2px;
}
.hiro {
  text-indent: 20px;
  margin: 20px;
}
img {
  width: 700px;
}


