* {
  margin: 0;
  padding: 0;
}
body {
  background: #fff;
  color: #1c1e21;
  direction: ltr;
  line-height: 1.34;
  margin-right: auto;
  margin-left: auto;
  font-size: 12px;
  background: #edf0f5;
}
.facebook {
  position: static;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
}
.form-login {
  align-items: center;
  background: #edf0f5;
  margin-right: auto;
  margin-left: auto;
}
img {
  width: 300px;
}
h2 {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 32px;
  width: 500px;
}
.img-logo {
  position: fixed;
  left: 200px;
  right: 300px;
  top: 130px;
  box-sizing: border-box;
  margin-right: 0;
  padding-right: 32px;
  width: 580px;
}
.login-form {
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  box-sizing: border-box;
  padding-left: 30px;
  padding-right: 20px;
  background-color: #fff;
  border-radius: 6px;
  width: 450px;
  height: 370px;
  position: fixed;
  top: 100px;
  left: 730px;
}
input {
  border: 1px solid #dddfe2;
  border-radius: 6px;
  font-size: 17px;
  padding: 10px 16px;
  width: 360px;
}
input[type="text"] {
  margin-top: 20px;
  margin-bottom: 20px;
}
.dang-nhap > button {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 20px;
  line-height: 48px;
  padding: 0 16px;
  width: 370px;
  font-family: inherit;
  margin: 13px;
  color: white;
}

.quen-mat-khau > a {
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  padding-left: 120px;
}
a {
  cursor: pointer;
  text-decoration: none;
}
.ke-ngang {
  align-items: center;
  border-bottom: 1px solid #dadde1;
  display: flex;
  margin: 10px 10px;
  text-align: center;
  height: 0;
  padding: 0;
}
.action > button {
  background: #42b72a;
  color: white;
  width: 200px;
  border-radius: 6px;
  border: #42b72a;
  width: 250px;
  height: 60px;
  font-size: 20px;
  margin-left: 70px;
}
.action button:hover,
.button:hover {
  background-color: coral;
  color: #fff;
  border-color: coral;
}
.tao-trang {
  font-size: 20px;
  position: fixed;
  top: 500px;
  left: 700px;
  font-weight: normal;
  line-height: 1px;
  border-top: none;
  color: #1c1e21;
  font-family: SFProText-Regular, Helvetica, Arial, sans-serif;
  padding-top: 0;
  width: 600px;
}

#popup {
  display: none;
}

#popup:not(:checked) + .popup {
  visibility: hidden;
}

#popup:checked + .popup {
  visibility: visible;
  background-color: #80808000;
}

.popup {
  position: fixed;
  bottom: 50px;
  left: 30%;
  transition: all 0.5s;
}

.popup-content {
  background-color: #fff;
  width: 500px;
  margin-top: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px;
  transform: translateY(-100%);
  opacity: 0;
  transition: all 0.5s;
  position: relative;
}

#popup:checked + .popup .popup-content {
  transform: translateY(0);
  opacity: 1;
}

#close {
  position: absolute;
  right: 20px;
  top: 20px;
  cursor: pointer;
}

.action button,
.button {
  border: 1px solid grey;
  border-radius: 6px;
  width: 250px;
  height: 60px;
}

.ho-ten {
  height: 69px;
}
.ho-ten > #ho {
  width: 200px;
  margin-right: 18px;
}
.ho-ten > #ten {
  width: 210px;
}
.sdt-email > input {
  width: 465px;
}
.pass-new > input {
  width: 465px;
  margin-bottom: 5px;
}
._8esg {
  border-radius: 4px;
  color: #1c1e21;
  font-family: SFProText-Medium, Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: normal;
  height: 36px;
  line-height: 20px;
}

label {
  margin-left: 10px;
  font-size: 20px;
}
#day,
#month,
#year {
  margin: 5px 5px 5px 9px;
  width: 150px;
}
.gioi-tinh {
  border: 1px solid black;
  width: 2px;
  height: 2px;
  padding: 10px;
  margin: 5px;
  border-radius: 6px;
}
.bo-chon {
  width: 70px;
}
p {
  display: block;
  margin: 10px;
  font-size: 15px;
}
.dang-ky {
  border: 1px solid black;
  width: 250px;
  height: 50px;
  border-radius: 6px;
  margin-left: 120px;
}
